.About{
    display: flex;
    flex-direction: column; 
}

.rect{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;

}
.text_container{
    display: flex;
    justify-content:center;
    align-items:center;
}
.text{
    max-width: 75%;
    font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 31px;
line-height: 47px;

color: #000000;
}