
.home{
    width: 98%;
    min-height:50rem;
    border-style: solid;
    border-color: #ffd000;
    border-width: 1px;
    border-radius: 40px;
}

.shape{
    overflow:hidden;
    position: absolute;
    right:55px;
    top:12%;
}
.img{ 
    position: absolute;
    right: 55px;
    top: 12%;
}

.shape:hover{
    
    transform: rotate(-10deg);
    transition-property:  transform;
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
}

h1{
    color: white;
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
}