.home{
    width: 94%;
    margin-top:50px;
    border: 1px solid #ffd000;
    border-radius: 40px;
    padding:40px;
    display: flex;
}
.half1{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    padding-right: 15%;
}


.name{
    color: white;
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    text-align: right;
}

.subject{
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.span{
    color: #ffd000;
}


.current_job{
    background-color:#ffd000;
    width:max-content;
    padding-right: 2%;
    padding: 2%;
    border-radius: 20px;
    padding-right: 1%;
}
.cj_p{
    font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.05em;
text-align: left;
color: #000000;
}
.a-cj-p{
    text-decoration: none;
    color: #000000;
}



/* Half2 */


.half2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.icons_content{
    height: 100%;
}

.shape:hover{
    
    transform: rotate(-10deg);
    transition-property:  transform;
    
    transition-duration: 1s;

}

.icon{
    color:#ffd000;
    }

.shape:hover .icon{
    color: #000;
}


.img{ 
    position: absolute;
}

.contact_icons{
    justify-self: flex-end;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-self:flex-end;
    justify-content:space-evenly;
    
}






/* Laptop L */
@media only screen and (min-width: 1440px) {
    
    
}

/*Laptop*/
@media only screen and (min-width: 1024px)
{}

/*Tablet*/
@media only screen and (min-width: 768px)
{
}

/*Mobile L*/
@media only screen and (min-width: 425px)
{}

/*Mobile M*/
@media only screen and (max-width: 375px)
{}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .home{
        align-self:center;
    }

    .name{
        font-size: 24px;
    }
    .subject{
        font-size:18px;
        
    }
    .cj_p{
        font-size:small;
    }
    .shape{
        width:80%
    }
    .img{
        width: 30vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home{
        align-self:center;
        width: 92%;
    }

    .name{
        font-size: 28px;
    }
    .subject{
        font-size:20px;   
    }
    .cj_p{
        font-size:small;
    }
    .shape{
        width:80%
    }
    .img{
        width: 28vw;
    }
    .icon{
        width: 20px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .home{
        align-self:center;
        width: 94%;
    }

    .name{
        font-size: 58px;
    }
    .subject{
        font-size:32px;
        
    }
    .icon{
        width: 30px;
    }
}
